@model IEnumerable<grupoesparza.Areas.Administrator.Models.Carreras>

@{
    ViewBag.Title = "Carreras";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div class="container">
    <h3>Carreras</h3><hr />
    <a href="@Url.Action("nueva", "carreras")" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
        Agregar carrera
    </a>
    @if (!Model.Any())
    {
        <div class="alert alert-warning">
            No se encontraron carreras.
        </div>
    }
    else
    {
        <table class="table table-university">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Universidad</th>
                    <th>Carrera</th>
                    <th>Generación</th>
                    <th>Editar</th>
                    <th>Ver</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var carreras in Model)
                {
                    <tr>
                        <td>@carreras.id_carrera</td>
                        <td>@carreras.Universidad</td>
                        <td>@carreras.Carrera</td>
                        <td>@carreras.Generacion</td>
                        <td>
                            <a href="@Url.Action("editar","carreras", new {id = carreras.id_carrera})" class="btn btn-primary btn-xs edit-carrera">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Editar
                            </a>
                        </td>
                        <td>
                            <a role="button" data-toggle="modal" data-target="#modal-target" href="#detail" data-access-detail="@carreras.id_carrera" class="btn btn-default btn-xs detail-carreer">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                Ver
                            </a>
                        </td>
                        <td>
                            <a role="button" href="#delete" data-access-delete="@carreras.id_carrera" class="btn btn-danger btn-xs delete-carrera">
                                <span class="glyphicon glyphicon-trash"></span>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@Html.Partial("~/Areas/Administrator/Views/modal.cshtml")

@section scripts{
    @Scripts.Render("~/bundles/carreras")
}