@model grupoesparza.Areas.Administrator.Models.Carreras

@{
    ViewBag.Title = "Nueva";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<br /><br />


<div class="container">
    <h3>Nueva carrera</h3><hr />
    @using (Html.BeginForm("save", "carreras", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.Label("Universidad")
            @Html.DropDownList("id_universidad", ViewBag.Universidades as SelectList, new {@class = "form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Carrera)
            @Html.TextBoxFor(m => m.Carrera, new {@class = "form-control", @placeholder = "Ingresa el nombre de la carrera..." })
            @Html.ValidationMessageFor(m => m.Carrera)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Generacion)
            @Html.TextBoxFor(m => m.Generacion, new { @class = "form-control", @placeholder = "Ingresa la generación..." })
            @Html.ValidationMessageFor(m => m.Generacion)
        </div>
        <div class="form-group">
           <a href="@Url.Action("index", "carreras")" class="btn btn-default">Cancelar</a>
           <button class="btn btn-primary">Guardar</button>
        </div>
    }
    
</div>

